* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    background-color: #cbf7f7;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    background-color: rgb(173, 230, 169);
    width: 35%;
    height: 100px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

#header h2 {
    font-size: xx-large;
}

/*< !-- Container info header -->  */
#info {
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
}

#info h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}

#info article {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#info-person {
    width: 55%;
}

#perfil-profesional {
    width: 100%;
    margin-top: 20px;
    text-align: justify;
}

/*   < !-- Conteiner info header --> */

/*     < !-- Conteiner main star --> */
.conteiner {
    display: grid;
    height: 400px;
    grid-template-columns: 35% 1fr;
}

.conteiner section {
    background-color: rgb(173, 230, 169);
    overflow: auto;
}

.conteiner #column {

    padding: 40px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}

/* < !-- Conteiner main end --> */
.section_one h2 {
    color: #000504;
    background-color: rgb(173, 230, 169);
    font-weight: bold;
    font-size: 25px;
}

.section_one p {
    color: #000504;
    background-color: rgb(173, 230, 169);
    font-size: 20px;
}

.section_one p a {
    color: #000504;
    background-color: #52ee47;
    font-size: 20px;
}

main {

    margin: 10px;
    overflow: auto;
}

main:focus {
    outline: 2px solid #007BFF;
}

footer {
    margin-top: 2%;
    height: 70px;
    background-color: rgb(173, 230, 169);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

footer a {
    color: #000504;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


@media(max-width:780px) {
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    /* header star */
    #header {
        width: 100%;
    }

    /* header end */

    /* info star*/
    #info {
        display: flex;
        flex-direction: column;
    }

    #info h1 {
        font-size: 30px;
    }

    /* info end */

    /* conteiner star */
    .conteiner {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr;
    }

    .conteiner .section_info {
        height: 250px;
        display: flex;
        flex-direction: column;
    }

    .conteiner main {
        height: 350px;
    }

    /* conteiner end */

    /* footer star */
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    footer a {
        font-size: 15px;
        margin: auto;
    }

    /* footer end */
}